@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%,
    
  );
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
  --transition: ease 0.6s;
}

* {
  scroll-behavior: smooth;
  font-family: var(--font-tajawal);
  
}
h1 {
  font-family: var(--font-tajawal);
}

/* service */
.process-item {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
  flex: 1; 
 
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 35px;
  padding-left: 35px;
  max-width: 350px; 
  min-height: 400px; 
  max-height: 600px; /* Set a maximum height for the paragraph */
  overflow: hidden;
}

.process-item img {
  margin-bottom: 15px;
}

.process-item h3 {
  font-size: 22px;
  color: black;
  /* margin: 10 10 10px; */
}

.process-item p {
  margin: 10;
  color:#000000;
}

.process-item .process-btn {
  margin-top: 10px;
  display: inline-block;
  font-size: 14px;
  color: #737b9a;
  font-weight: 600;
  transition: 0.6s;
}

.process-item .process-btn i {
  position: relative;
  transition: 0.6s;
  color: #737b9a;
  top: 1px;
  margin-left: 5px;
}

.process-item .process-btn i:before {
  font-size: 14px;
}

.process-item:hover .process-btn {
  letter-spacing: 1px;
  color: #00b0ee;
}

.process-item:hover .process-btn i {
  color: #00b0ee;
}

.single-services-box {
  flex: 1; 
  margin-bottom: 30px;
  box-shadow: 0 5px 40px 0 rgba(0, 0, 0, 0.11);
  background-color: #0F9887;
  transition: var(--transition);
  position: relative;
  z-index: 1;
  border-radius: 25px 0px 25px 0px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 35px;
  padding-left: 35px;
  max-width: 350px; 
  min-height: 250px; 
  max-height: 250px; /* Set a maximum height for the paragraph */
  overflow: hidden;
}

.single-services-box .icon {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  /* background-color: #; */
  border-radius: 50%;
  color: #0F9887;
  transition: var(--transition);
  margin-bottom: 15px;
}

.single-services-box .icon i::before {
  font-size: 30px;
}

.single-services-box h3 {
  margin-bottom: 0;
  transition: var(--transition);
  font-size: 22px;
  position: absolute;
  top: 48px;
  left: 95px;
  font-family: var(--font-tajawal);
}

.single-services-box h3 a {
  display: inline-block;
}

.single-services-box p {
  font-size: 14px;
  transition: var(--transition);
  margin-top: 15px;
  margin-bottom: 0;
  color: #5ce1e6;
}

.single-services-box .services-btn {
  margin-top: 16px;
}

.single-services-box .services-btn .services-btn-one {
  display: inline-block;
  font-size: var(--font-size);
  color: #0F9887;
  font-weight: 500;
  transition: var(--transition);
}

.single-services-box .services-btn i {
  position: relative;
  transition: var(--transition);
  color: #0F9887;
  top: 1px;
}

.single-services-box .services-btn i::before {
  font-size: 14px;
}

.single-services-box::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 0%;
  background: #D31152;
  border-radius: 0;
  transition: var(--transition);
}

.single-services-box:hover {
  transform: translateY(-10px);
}

.single-services-box:hover::before {
  height: 100%;
}

.single-services-box:hover .icon {
  transform: rotate(360deg);
  color: #D31152;
  /* background-color: #fff; */
}

.single-services-box:hover h3 {
  color: #fff;
}
.single-services-box h3, p {
  color: #fff;
  font-weight: 500;
}

.single-services-box:hover h3 a {
  color: #fff;
}

.single-services-box:hover p {
  color: #fff;
}

.single-services-box:hover .services-btn .services-btn-one {
  color: #fff;
  letter-spacing: 1px;
}

.single-services-box:hover .services-btn i {
  color: #fff;
}
/* end sevi */
/* start reloader */
@keyframes rotateMe {
  0% {
      transform: rotate(0deg)
  }

  to {
      transform: rotate(1turn)
  }
}
.spinnerimage {
  animation-name: rotateMe;
  animation-duration: 35s;
  animation-iteration-count: infinite;
  animation-timing-function: linear
}
.wave {
  position: absolute;
  top: -70px;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 100;
  background: url("https://i.imgur.com/njRQ9N8.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate1 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}
/* .footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
} */

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate1 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate1 {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
.default-btn {
  border: none;
  position: relative;
  display: inline-block;
  text-align: center;
  overflow: hidden;
  z-index: 100;
  color: #000000; /* Replace with your actual color value */
  background-color: white; /* Replace with your actual color value */
  transition:transition ; /* Make sure to define $transition elsewhere in your CSS */
  border-radius: 8px;
  font-weight: 600;
  font-size: 15px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.default-btn span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  /* border-radius: 50%; */
  background-color: #D31152; /* Replace with your actual color value */
  transition: width 0.5s ease-in-out, height 0.5s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
  border-radius: 8px;

}

.default-btn:hover,
.default-btn:focus {
  color: white !important; /* Replace with your actual color value */
}

.default-btn:hover span,
.default-btn:focus span {
  width: 225%;
  height: 562.5px;
}

.creativebanner {
  /* position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%; */
  background: linear-gradient(45deg, #0F9887, #0F9887, #024C4A);

  
  }
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: transparent;
  top: 0;
  left: 0;
}

.preloader .loader {
  position: absolute;
  top: 43%;
  left: 0;
  right: 0;
  transform: translateY(-43%);
  text-align: center;
  margin: 0 auto;
  width: 50px;
  height: 50px;
  transition: 0.5s linear;
}

.preloader .loader .box {
  width: 100%;
  height: 100%;
  background: #D31152;
  animation: animate 0.5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}

.preloader .loader .shadow {
  width: 100%;
  height: 5px;
  background: #000000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow 0.5s linear infinite;
}

.preloader::before,
.preloader::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 60%;
  height: 100%;
  z-index: -1;
  background: #0F9887; /* Replace with the actual main color */
  transition: 0.9s;
}

.preloader::after {
  left: auto;
  right: 0;
}

.preloader.preloader-deactivate {
  visibility: hidden;
}

.preloader.preloader-deactivate::after,
.preloader.preloader-deactivate::before {
  width: 0;
}

.preloader.preloader-deactivate .loader {
  opacity: 0;
  visibility: hidden;
}

@keyframes loader {
  0% {
      left: -100px;
  }
  100% {
      left: 110%;
  }
}

@keyframes animate {
  17% {
      border-bottom-right-radius: 3px;
  }
  25% {
      transform: translateY(9px) rotate(22.5deg);
  }
  50% {
      transform: translateY(18px) scale(1, 0.9) rotate(45deg);
      border-bottom-right-radius: 40px;
  }
  75% {
      transform: translateY(9px) rotate(67.5deg);
  }
  100% {
      transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow {
  50% {
      transform: scale(1.2, 1);
  }
}
/* end preloader */

.text-gradient {
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #7de7eb 55.12%,
    #5ce1e6 71.54%,
    #33bbcf 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-blue-gradient {
  background: linear-gradient(
    157.81deg,
    #def9fa -43.27%,
    #bef3f5 -21.24%,
    #9dedf0 12.19%,
    #7de7eb 29.82%,
    #5ce1e6 51.94%,
    #33bbcf 90.29%
  );
}

.bg-black-gradient {
  background: linear-gradient(
    144.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-black-gradient-2 {
  background: linear-gradient(
    -168.39deg,
    #ffffff -278.56%,
    #6d6d6d -78.47%,
    #11101d 91.61%
  );
}

.bg-gray-gradient {
  background: linear-gradient(
    153.47deg,
    rgba(255, 255, 255, 0) -341.94%,
    #14101d 95.11%
  );
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: #0F9887;
  color: white;
  /* //var(--black-gradient); */
  box-shadow: var(--card-shadow);
}
.feature-card:hover p {
  color: white;
  /* //var(--black-gradient); */
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.feedback-card:hover {
  background: #0F9887;
  color:whitesmoke;
  /* var(--black-gradient); */
}
.feedback-card:hover p {
  color:whitesmoke;
  /* var(--black-gradient); */
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}
.underlined {
  /*   background: red; */
    position: relative;
  }
  .underline-clip:after {
    content: '';
    position: absolute;
    top: 95%;
    width: 150%;
    aspect-ratio: 3 / 1;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 50%;
    border: 6px solid #D31152;
    /* Use a clip-path to hide and show the bits you want */
    clip-path: polygon(0 0, 50% 50%, 100% 0);
    
  }  

/* h2{
  font-family: --font-tajawal;
} */
  /* testimonials */
  .testimonial-section {
    background-color: #f6f6fe;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.testimonial-slider .testimonial-single-item {
    text-align: center;
    padding: 30px;
    max-width: 750px;
    margin: auto;
    background-color: #ffffff;
    position: relative;
    margin-top: 20px;
}

.testimonial-slider .testimonial-single-item::before {
    position: absolute;
    content: "";
    height: 70px;
    width: 70px;
    line-height: 70px;
    background-color: #0F9887; /* Replace with actual color value */
    border-radius: 100px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: -15px;
}

.testimonial-slider .testimonial-single-item .testimonial-image {
    position: absolute;
    left: 0;
    right: 0;
    top: -10px;
}

.testimonial-slider .testimonial-single-item .testimonial-image img {
    display: inline-block;
    width: 60px;
    height: auto;
    border-radius: 100px;
}

.testimonial-slider .testimonial-single-item .testimonial-info {
    margin-top: 38px;
}







/* 
.testimonial-slider.owl-theme .owl-nav {
    opacity: 0;
    visibility: hidden;
    margin-top: 0;
    transition: $transition; /* Replace with actual transition value */
/* }  */
*

/* .testimonial-slider.owl-theme [class*=owl-] {
    position: absolute;
    left: 110px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding: 0;
    background-color: transparent;
    transition: $transition; /* Replace with actual transition value */
    /* color: $black-color; Replace with actual color value */
    /* font-size: 25px; */
/* } */ *

/* .testimonial-slider.owl-theme [class*=owl-].owl-next {
    left: auto;
    right: 110px;
} */

/* .testimonial-slider.owl-theme [class*=owl-]:hover {
    color: $main-color; /* Replace with actual color value */
    /* background-color: transparent; */
/* } */ *

/* .testimonial-slider.owl-theme .owl-dots {
    line-height: .01;
    margin-top: 30px;
    margin-bottom: 0;
} */

/* .testimonial-slider.owl-theme .owl-dot span {
    width: 10px;
    height: 10px;
    margin: 0 4px;
    background-color: $black-color; /* Replace with actual color value */
    /* transition: $transition; Replace with actual transition value */
    /* border-radius: 30px; */
/* } */ *

/* .testimonial-slider.owl-theme .owl-dot:hover span,
.testimonial-slider.owl-theme .owl-dot.active span {
    background-color: $main-color; /* Replace with actual color value */
/* //} */ *

/* .testimonial-slider.owl-theme:hover .owl-nav {
    opacity: 1;
    visibility: visible;
} */
/*  */
.fun-facts-area {
  position: relative;
  background-image: url(../../public/bannerbackground.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

.fun-facts-area::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /* background-color: #0F9887; Assuming $main-color is defined elsewhere */
  z-index: -1;
  opacity: 0.8;
}

.single-fun-fact {
  text-align: center;
  position: relative;
}

.single-fun-fact h3 {
  position: relative;
  color: white; /* Assuming $white-color is defined elsewhere */
  margin-bottom: 5px;
  line-height: 1;
  font-size: 50px;
  font-weight: 700;
}

.single-fun-fact h3 .sign-icon {
  display: inline-block;
  font-size: 46px;
}

.single-fun-fact p {
  line-height: initial;
  color: white; /* Assuming $white-color is defined elsewhere */
  margin: 0 0 0 0;
  font-weight: 600;
  font-size: 20px;
}

/*  */

.testimonial-shape {
    position: absolute;
    bottom: -75px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: -1;
    animation: movebounce 5s linear infinite;
}
.ptb-100{
  padding-top: 0px;
    padding-bottom: 0px;
}
.testimonial-shape-img1 {
    position: absolute;
    right: 5%;
    bottom: 5%;
    z-index: -1;
    animation: movebounce 5s linear infinite;
   
}
.testimonial-shape img{
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  width: 100%;
 
}
.testimonial-shape-img2 {
    position: absolute;
    right: 10%;
    top: 10%;
    z-index: -1;
    animation: animationFramesOne 10s infinite linear;
}
@keyframes movebounce {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(0px);
  }
}
@keyframes animationFramesOne {
  0% {
      transform: translate(0px, 0px) rotate(0deg);
  }
  20% {
      transform: translate(73px, -1px) rotate(36deg);
  }
  40% {
      transform: translate(141px, 72px) rotate(72deg);
  }
  60% {
      transform: translate(83px, 122px) rotate(108deg);
  }
  80% {
      transform: translate(-40px, 72px) rotate(144deg);
  }
  100% {
      transform: translate(0px, 0px) rotate(0deg);
  }
}
  /* testimonials */
@layer utilities {
  /* Styles */
  .boxWidth {
    @apply xl:max-w-[1280px] w-full;
  }
  .heading2 {
    @apply  font-tajawal font-semibold xs:text-[48px] text-[40px] text-black xs:leading-[76.8px] leading-[66.8px] w-full;
  }
  .paragraph {
    @apply font-tajawal font-semibold  text-[18px] leading-[44px];
  }
  .paragraph3 {
    @apply leading-[44px];
  }
  .paragraph2 {
    @apply font-tajawal font-semibold  text-[25px] leading-[44px];
  }
  .flexCenter {
    @apply flex justify-center items-center;
  }
  .flexStart {
    @apply flex justify-center items-start;
  }
  .paddingX {
    @apply sm:px-10 px-6;
  }
  .paddingY {
    @apply sm:py-16 py-6;
  }
  .padding{
    @apply sm:px-16 px-6 sm:py-12 py-4;
  }
  .marginX {
    @apply sm:mx-16 mx-6;
  }
  .marginY {
    @apply sm:my-16 my-6;
  }
  /* Layout */
  .section {
    @apply flex md:flex-row flex-col paddingY;
  }
  .sectionReverse {
    @apply flex md:flex-row flex-col-reverse paddingY;
  }
  .sectionImgReverse {
    @apply flex-1 flex flexCenter md:mr-10 mr-0 md:mt-0 mt-10 relative;
  }
  .sectionImg {
    @apply flex-1 flex flexCenter md:ml-10 ml-0 md:mt-0 mt-10 relative;
  }
  .sectionInfo {
    @apply flex-1 flexStart flex-col;
  }
}
